.right_side_wrapper {
    width: 100%;
    flex: 1;
    position: relative;

    background-color: #f2f3f5;

    display: flex;

    justify-content: center;
    align-content: flex-start;
}

/*748*/
@media screen and (min-width: 748px) and (max-width: 973.98px) {
    .right_side_wrapper {
        min-width: 700px;
    }
}

/*640*/
@media screen and (min-width: 640px) and (max-width: 747.98px) {
    .right_side_wrapper.hide {
        display: none;
    }

    .right_side_wrapper.show {
        display: block;
    }

    .right_side_wrapper {
        min-width: 700px;
    }
}

/*360*/
@media screen and (max-width: 639.98px) {
    .right_side_wrapper.hide {
        display: none;
    }

    .right_side_wrapper.show {
        display: block;
    }

    .right_side_wrapper {
        min-width: 700px;
    }
}
