.container {
    padding: 20px 50px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
}

.cards_container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.search_container button {
    font-weight: bold;
}

.spinner_container {
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left_container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
